html {
	font-size: 62.5%; // ≈ 10px
}

body {
	@include placeholder-color( $color-secondary );
	@include font( 1.6, 1.5 );
	font-family: 'AvenirNext-Regular', Arial, 'Helvetica Neue', 'HelveticaNeue', Helvetica, sans-serif;
	color: $deepgreen;
	@include media( $small ) {
		@include font( 1.4, 1.5 );
	}
	@include media( $giant ) {
		@include font-smoothing;
		@include font( 2, 1.44 );
	}
}

a {
	color: $deepgreen;
	text-decoration: none;
	border-bottom: 1px solid $lightgreen;
	&:hover {
		color: $lightgreen;
	}
	h1, h2, h3, h4, h5, h6 {
		color: $deepgreen;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	margin: 0;
	font-family: 'AvenirNext-DemiBold', Arial, 'Helvetica Neue', 'HelveticaNeue', Helvetica, sans-serif;
	@include font-smoothing;
}

h1 {
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 1em;
}

h2 {
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 0.5em;
}