html {
	font-size: 62.5%; // ≈ 10px
}

body {
	@include placeholder-color( $color-secondary );
	@include font( 1.6, 1.5 );
	font-family: 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: $color-primary;
	@include media( $small ) {
		@include font( 1.4, 1.5 );
	}
	@include media( $giant ) {
		@include font-smoothing;
		@include font( 2, 1.44 );
	}
}

a {
	color: $color-secondary;
	text-decoration: none;
	h1, h2, h3, h4, h5, h6 {
		color: $color-primary;
	}
	&:hover {
		color: $color-primary;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	margin: 0;
}